AppPedidos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ListaDePedidos" type="TipoListaDePedidos"/>
  <xsd:complexType name="Pedido">
    <xsd:sequence>
      <xsd:element name="NumSerie" type="xsd:string">
      </xsd:element>
      <xsd:element name="Cantidad" type="xsd:integer">
      </xsd:element>
      <xsd:element name="Peso"  type="xsd:float" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoListaDePedidos">
    <xsd:sequence>
      <xsd:element type="Pedido" name="Pedido" maxOccurs="unbounded" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>